<% flux = Urss.at("http://www.flickr.com/services/feeds/photos_public.gne?format=rss_200") %>
<% image = flux.entries.first.medias.first.content_url %>

<div class="jumbotron" style="background: url('<%= image %>') no-repeat top center;width: 100%;background-size: cover;height:350px;">
  <span class='restaurant'>
    <h1><%= @restaurant.name %></h1>
    <h3><%= @restaurant.address %></h3>
    <p><%= @restaurant.phone_number %></p>
    <p class='category'><%= @restaurant.category %></p>
  </span>
    <p>
    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:'btn btn-primary btn-lg' %>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Add a review</a> -->
    </p>
    <ul class='list-group'>
    <% @restaurant.reviews.order(created_at: :desc).each do |review| %>
    <li class='list-group-item'><%= review.created_at.to_formatted_s(:short)   %> - <%= review.content %></li>
    <% end %>
    </ul>

</div>

